/*  black:#000000, blue: #14213D, orange: #FCA311, grey: #E5E5E5, white: #FFFFFF  */

@font-face {
    font-family: myFirstFont;
    src: url(font.ttf);
}

html, body{
    height: 100%;
    color: #FFF;
    font-family: helvetica;
}

#fad{
	opacity: 0;
}


#nav{
	color: white;
	background-color: #000;
	font-size: 20px;
	height: 80px;
	padding-top: 15px;
}

#myName{
	font-size: 25px;
	color: white;
}

.navbox{
	color: #E5E5E5;
}




#aboutMe{
	padding-top: 10%;
	background-image:url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8f794883c2919de1280c55ec74d109a2");
   	width: 100%;
    background-size: cover;
   	background-position: center;
   	padding-bottom: 7%;
}

#aboutMeBox{
	margin: 100px;
	margin-top: -10px;
	margin-bottom: -50px;
	padding: 10px;
	color: #222;
	background-color: #E5E5E2;
	border: 10px solid #14213D;
	border-radius: 20px;
	text-align: center;
}

.parallax{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#profile{
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 10px solid #14213D;
	border-radius: 20px;
	height: 250px;
	opacity: 0;

}





#education{
	padding-top:20px;
	background-color: #FFFFFF;
	color: #222;
}

#schoolDesc{
	text-align: center;
}

#edTitle{
	text-align: center;
	font-size: 34px;
}

#school:hover{
	text-decoration: none;
	color: #FCA311;
}

.coursework{
	text-align: center;
}

.course{
	background-color: #FCA311;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	color: #222;
}

.course:hover{
	background-color: #ca7d02;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.study{
	font-size: 20px;
}

.study > li{
	padding-bottom: 10px;
	font-size: 20px;
}

#languages{
	text-align: center;
	width: 100%;
}

#languages > li {
	display: inline-block;
	padding: 10px;
	font-size: 18px;
	background-color: #FCA311;
	border-radius: 50px;
	width: 95px;
	text-align: center;
}
  
 #school{
 	color: black;
 }




.header{
	text-align: center;
}

#portfolio{
	padding-top:20px;
	background-color: #E5E5E5;
	color: #222;
	padding-bottom: 50px;
}

#portfolio > h2{
	text-align: center;
}

#portDesc{
	padding: 20px;
}

.project{
	background-color: #14213D;
	text-align: center;
	border-radius: 20px;
	border: 10px solid #e5e5e5;
	padding-bottom: 15px;
}

.project > h2{
	background-color: #FCA311;
	padding: 10px;
	border-radius: 20px;
	border: 5px solid white;
}

.project > img{
	margin-top: 5px;
	height: 40%;
	width: 40%;
	border-radius: 20px;
	width: 310px;
	border: 3px solid white;
}

.android{
	height: 300px;
	width: 200px;
}

.project > p{
	color: white;
	font-size: 20px;
	margin-top: 5px;
}

#g{
	color: orange;
}

a{
	color: white;
}

a:hover{
	color: white;
}

  
#contactMe{
	padding: 20px;
	background-color: black;
}
#social > li{
	display: inline;
}

#social{
	margin-left: 40%;
}
#social > li{
	margin: 15px;
}